html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:black; 
  text-decoration: none;
}

body, html {
  overflow-x: hidden;
}

body {
  
position: relative;
width: 100%;
height: 3900px;
background: #FFFFFF;
}

.logo {
  position: absolute;
  //position: -webkit-sticky;
  letter-spacing: 3px;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: normal;
  font-size: 27px;
  margin-left: 32px;
  height: 80px;
  padding: 29px;
  top: 0px;
  //background-color: white;
  z-index: 1;
  color: black;
}

/*
.logoBox1 {
  position: absolute;
  width: 80px;
  height: 46px;
  top: 22px;
  margin-left: 52px;
  background: #FFE7A9;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.logoBox2 {
  position: absolute;
  width: 10px;
  height: 46px;
  top: 22px;
  margin-left: 48px;
  background: #4BBEFF;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
*/

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  //position: -webkit-sticky;
  background-color: white;
  top: 0px;
  padding: 0px;
  z-index: 2;
  //font-weight: bold;
  
}

nav ul {
  float: right;
  margin-right: 0px;
  
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  
  position: relative;
  color: black;
  padding: 5px 0;
  font-size: 20px;
}

nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

nav ul li a:hover {
  Text-Decoration: None !important; 
  color: black;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

#check {
  display: none;
}


.section1 {
  font-size: 50px;
  display: block;
}

#home {
  height: 700px;
}

.aboutMe {
height: 400px;

position: absolute;
width: 229px;
left: 94px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #424242;
}

.line {
  position: absolute;
  width: 40px;
  height: 0px;
  left: 94px;
  top: 870px;
  border: 3px solid #4BBEFF;
}

.text {
position: absolute;
width: 764px;
height: 388px;
left: 94px;
top: 900px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: normal;
line-height: 29px;
color: black;
}

.link1 {
  color: #4BBEFF;
  cursor: pointer;
  text-decoration: none;
}


.skill {
position: absolute;
width: 725px;
height: 81px;
left: 141px;
top: 1190px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 29px;

color: #635F5F;
z-index: 1;
}


.tab1 {
position: absolute;
width: 773px;
height: 92px;
left: 103px;
top: 1190px;

background: #D8F0FD;
}

.tab2 {
position: absolute;
width: 9px;
height: 92px;
left: 94px;
top: 1190px;
background: #4BBEFF;
}

.pic {
position: absolute;
width: 668px;
height: 1000px;
left: 982px;
top: 900px;

background: url(https://i.imgur.com/VDORVMf.png);
background-repeat: no-repeat;
background-size: 38% 38.5%;
}

#portfolio{
height: 400px;
position: absolute;
width: 229px;
left: 94px;
top: 1450px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: black;
}



.line2 {
  position: absolute;
  width: 40px;
  height: 0px;
  left: 94px;
  top: 1520px;
  border: 3px solid #4BBEFF;
}

.radar {
  position: absolute;
  width: 447px;
  height: 451px;
  left: 35%;
  top: 1583px;
  background: url(https://i.imgur.com/tV6I944.png);
  background-repeat: no-repeat;
  background-size: 90% 80%;
  opacity: .5;
  z-index: 1;
}


.picGraph {
  position: absolute;
  width: 548px;
  height: 288px;
  left: 13%;
  top: 1560px;

  background: url(https://i.imgur.com/SaPNgBw.png);
  box-shadow: rgba(166, 221, 250, 0.5);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  cursor: pointer;
}

.textCode1 a {
    color: #fffb00;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}

.textCode2 a {
    color: #fffb00;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.overlayLeft{
    width: 0px;
    height: 230.4px;
    left: 0%;
    top: 1560px;
    background-color: #00b1ba;
    opacity: 0;
    transition:all .3s ease;
}

.container:hover .overlayLeft {
    width: 438.4px;
    opacity: 0.8;
}

.picRest {
  position: absolute;
  width: 548px;
  height: 288px;
  left: 58%;
  top: 1700px;

  background: url(https://i.imgur.com/zUM2uiX.png);
  box-shadow: rgba(166, 221, 250, 0.5);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  cursor: pointer;
}

.overlayRight{
    width: 438.4px;
    height: 0px;
    right: 0%;
    top: 1700px;
    background-color: #00b1ba;
    opacity: 0;
    transition:all .3s ease;
}

.container:hover .overlayRight {
    opacity: 0.8;
    height: 230.4px;;
    left: 100%;
}

.textCode3 a {
    color: #fffb00;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}

.textCode4 a {
    color: #fffb00;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}

.pointer1 {
position: absolute;
left: 38%;
top: 1480px;

}

.pointer2 {
position: absolute;
left: 55%;
top: 1930px;

}


#contact {
  position: absolute;
  width: 205px;
  height: 47px;
  left: 94px;
  top: 2100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}

.line3 {
    position: absolute;
    width: 40px;
    height: 0px;
    left: 94px;
    top: 2180px;
    border: 3px solid #6AA3FF;
}


.boxInv {
  position: absolute;
  width: 400px;
  height: 220px;
  left: 30%;
  top: 2230px;

  background:white;

}

.pic4 {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 24%;
  top: 2175px;

  background: url(https://i.imgur.com/mZDOSJE.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: saturate(10);
  opacity: .5;
}



.formTitle {
  position: absolute;
  width: 320px;
  height: 37px;
  left: 38%;
  top: 2228px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}

.name {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 450px;
  top: 2285px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
}

.line4 {
    position: absolute;
    width: 300px;
    height: 35px;
    left: 520px;
    top: 2290px;
    
}
input {
    top: 2287px;
    font-size: normal;
    border: none;
    border-bottom: 1px solid #4BBEFF;
    color: #787575; 
    width: 100%;
    outline: none;
}

.email {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 450px;
  top: 2325px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
}

.line5 {
    position: absolute;
    width: 300px;
    height: 35px;
    left: 520px;
    top: 2330px;
    z-index: 1;
}

.message {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 418px;
  top: 2365px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
}

.box {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 520px;
  top: 2370px;
  font-size: 15px;
  background: #FFFFFF;
  box-sizing: border-box;
}

textarea {
    top: 2287px;
    font-size: normal;
    height: 95px;
    border: 1px solid #4BBEFF;
    color: #787575;
    width: 100%;
    outline: none;
}

.followLink {
  position: absolute;
  width: 320px;
  height: 37px;
  left: 75%;
  top: 2300px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}

.line6 {
  position: absolute;
  width: 62px;
  height: 7px;
  left: 83%;
  top: 2350px;

  background: #FFDF6E;
}

.icon1 {
  position: absolute;
  width: 40px;
  height: 41px;
  left: 79%;
  top: 2370px;
  background: url(https://i.imgur.com/rPcRXtL.png);
  background-size: 120% 80%;
  background-repeat: no-repeat;
}

.icon2 {
  position: absolute;
  width: 40px;
  height: 41px;
  left: 84.1%;
  top: 2370px;
  background: url(https://i.imgur.com/arjqUVb.png);
  background-size: 80% 90%;
  background-repeat: no-repeat;
}

.icon3 {
  position: absolute;
  width: 50px;
  height: 43px;
  left: 88%;
  top: 2370px;
  background: url(https://i.imgur.com/D4E8p90.png);
  background-size: 100% 75%;
  background-repeat: no-repeat;
}

.submit {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 48.5%;
  top: 2473px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;

  color: #424242;;
  z-index: 1;
  cursor: pointer;
}

.submitBotton {
  position: absolute;
  width: 101px;
  height: 28px;
  left: 47%;
  top: 2476px;
  cursor: pointer;
  background: linear-gradient(150.88deg, #B8B7AE 7.54%, rgba(255, 255, 255, 0) 147.52%);
}





@media(max-width: 944px) {
  logo {
  font-size: 35px;
  margin-left: 200px;
  line-height: 80px;

  } 
   label #btn {
    display: block;
    position: absolute;
  } 

  nav ul li a {
    font-size: 17px;

  }


}

label #btn,
label #cancel {
  position: fixed;
  color: black;
  font-size: 30px;
  right: 50px;
  line-height: 80px;
 // margin-left: 80px;
  cursor: pointer;
  display: none;
}



@media(max-width: 860px) {
  label #btn {
    display: block;
    position: absolute;
  } 

  body {
position: absolute;
width: 440px;
height: 3999px;
background: #FFFFFF;
}

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #424242;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    color: white;

  }
  nav ul li a {
    font-size: 20px;
    color: white;
  }
  nav ul li a:hover {
  Text-Decoration: None !important; 
  color: white;
}
nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

#check:checked ~ ul {
  left: 0;
  	}

#check:checked ~ label #btn {
  display: none;
}

#check:checked ~ label #cancel {
  display: block;
}
}


.opening {
position: absolute;
width: 898px;
height: 384px;
left: 303px;
top: 202px;
}

@media (max-width: 944px) {
  .opening {
  position: absolute;
  left: 10px;
  }

}

.rect1 {
position: absolute;
width: 160px;
height: 260px;
left: 1px;
top: -5%;
background: #FFDF6E;
}

.rect2 {
position: absolute;
width: 160px;
height: 260px;
left: 170px;
top: -20%;
background: #4BFFC9;
}

.rect3 {
position: absolute;
width: 160px;
height: 260px;
left: 337px;
top: -5%;
background: #FF4BED;
}

.rect4 {
position: absolute;
width: 160px;
height: 260px;
left: 505px;
top: -20%;
background: #FF4B8C;
}


.name1 {
position: absolute;
width: 900px;
height: 109.36px;
left: .5%;
top: -5%;

font-family: 'Allerta Stencil', sans-serif;
font-weight: normal;
font-size: 80px;
line-height: 129px;

color: #424242;
}

.name2 {
position: absolute;
width: 787.3px;
height: 109.36px;
left: 6%;
top: 20%;

font-family: 'Allerta Stencil', sans-serif;
font-weight: normal;
font-size: 80px;
line-height: 129px;

color: #424242;
}

.midSection {
  position: absolute;
  width: 670px;
  height: 4.17px;
  left: 1px;
  top: 95px;
  background-color:white;
}

.type {
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  position: absolute;
  left: 400px;
  top: 450px;
  font-weight: bold;
}

.IAM {
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  //font-family: 'Roboto';
  font-weight: bold;
}


@media (max-width: 944px) {
.rect1 {
position: absolute;
width: 95px;
height: 200px;
left: 1px;
top: -5%;
background: #FFDF6E;
}
.rect2 {
position: absolute;
width: 95px;
height: 200px;
left: 100px;
top: -20%;
background: #4BFFC9;
}
.rect3 {
position: absolute;
width: 95px;
height: 200px;
left: 198px;
top: -5%;
background: #FF4BED;
}

.rect4 {
position: absolute;
width: 95px;
height: 200px;
left: 296px;
top: -20%;
background: #FF4B8C;
}

.name1 {
position: absolute;
width: 900px;
height: 109.36px;
left: 2%;
top: -9%;

font-family: 'Allerta Stencil', sans-serif;
font-weight: normal;
font-size: 42px;
line-height: 129px;

color: #424242;
}

.name2 {
position: absolute;
width: 787.3px;
height: 109.36px;
left: 6%;
top: 8%;

font-family: 'Allerta Stencil', sans-serif;
font-weight: normal;
font-size: 42px;
line-height: 129px;

color: #424242;
}

.midSection {
  position: absolute;
  width: 395px;
  height: 4.17px;
  left: 1px;
  top: 60px;
  background-color:white;
}

.type {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 450px;
  font-weight: bold;
}

.IAM {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  //font-family: 'Roboto';
  font-weight: bold;
}
}



@media (max-width: 440px) {

  label #btn {
    display: inline-block;
    position: relative;
  } 

    body {
  position: absolute;
  width: 400px;
  height: 10000px;
  background: #FFFFFF;
  }

.logo {
  position: absolute;
  //position: -webkit-sticky;
  letter-spacing: 3px;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: normal;
  font-size: 27px;
  margin-left: 24px;
  height: 80px;
  padding: 0px;
  top: 32px;
  //background-color: white;
  z-index: 1;
  color: black;
}
  
ul {
    position: fixed;
    width: 440px;
    height: 100vh;
    background: #424242;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    color: white;

  }
  nav ul li a {
    font-size: 20px;
    color: white;
  }
  nav ul li a:hover {
  Text-Decoration: None !important; 
  color: white;
}
nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

#check:checked ~ ul {
  left: 0;
  	}

#check:checked ~ label #btn {
  display: none;
}

#check:checked ~ label #cancel {
  display: block;
  position: absolute;

}

.type {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  position: absolute;
  left: 40px;
  top: 450px;
  font-weight: bold;
}

.IAM {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  //font-family: 'Roboto';
  font-weight: bold;
}


.aboutMe {
height: 400px;

position: absolute;
width: 229px;
left: 94px;
top: 900px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #424242;
}

.line {
  position: absolute;
  width: 40px;
  height: 0px;
  left: 94px;
  top: 970px;
  border: 3px solid #4BBEFF;
}

.text {
position: absolute;
width: 300px;
height: 388px;
left: 30px;
top: 1010px;
font-weight: normal;
font-family: sans-serif;
font-size: 18px;
line-height: 29px;
margin-right: 600px;
text-align: left;
}

.skill {
position: absolute;
width: 300px;
height: 81px;
left: 50px;
top: 1690px;
text-align: left;

font-family: Roboto500
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 29px;
margin-right: 600px;
color: #635F5F;
}

.tab1 {
position: absolute;
width: 320px;
height: 200px;
left: 30px;
top: 1690px;

background: #D8F0FD;
opacity: 0.5;
}

.tab2 {
position: absolute;
width: 9px;
height: 200px;
left: 28px;
top: 1690px;

background: #4BBEFF;
}

.pic {
position: absolute;
width: 334px;
height: 280px;
left: 25%;
top: 1930px;
background: url(https://i.imgur.com/VDORVMf.png);
background-repeat: no-repeat;
background-size: 50% 100%;
}

#portfolio{
height: 400px;
position: absolute;
width: 229px;
left: 94px;
top: 2700px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: black;
}

.line2 {
  position: absolute;
  width: 40px;
  height: 0px;
  left: 94px;
  top: 2770px;
  border: 3px solid #4BBEFF;
}

.radar {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 30%;
  top: 2960px;
  background: url(https://i.imgur.com/tV6I944.png);
  background-repeat: no-repeat;
  background-size: 90% 90%;
  opacity: .5;
  z-index: 1;
}

.picGraph {
  position: absolute;
  width: 548px;
  height: 280px;
  left: 2%;
  top: 2900px;

  background: url(https://i.imgur.com/SaPNgBw.png);
  box-shadow: rgba(166, 221, 250, 0.5);
  background-repeat: no-repeat;
  background-size: 40% 40%;
}

.textCode1 a {
    color: #fffb00;
    font-size: 15px;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}

.textCode2 a {
    color: #fffb00;
    font-size: 15px;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.overlayLeft{
    width: 0px;
    height: 112px;
    left: 0%;
    top: 1560px;
    background-color: #00b1ba;
    opacity: 0;
    transition:all .3s ease;
}

.container:hover .overlayLeft {
    width: 219.2px;
    opacity: 0.8;
}

.picRest {
  position: absolute;
  width: 548px;
  height: 288px;
  left: 30%;
  top: 3070px;

  background: url(https://i.imgur.com/zUM2uiX.png);
  box-shadow: rgba(166, 221, 250, 0.5);
  background-repeat: no-repeat;
  background-size: 40% 40%;
}

.overlayRight{
    width: 219.2px;
    height: 0px;
    right: 0%;
    top: 1700px;
    background-color: #00b1ba;
    opacity: 0;
    transition:all .3s ease;
}

.container:hover .overlayRight {
    opacity: 0.8;
    height: 115.2px;
}


.textCode3 a {
    color: #fffb00;
    font-size: 15px;
    position: absolute;
    top: 18%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    
}

.textCode4 a {
    color: #fffb00;
    font-size: 15px;
    position: absolute;
    top: 27%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    
}

svg {
  width: 200px;
  height: 50px;
}

.pointer1 {
position: absolute;
left: 30%;
top: 2840px;

}

.pointer2 {
position: absolute;
left: 22%;
top: 3180px;
}


#contact {
  position: absolute;
  width: 205px;
  height: 47px;
  left: 94px;
  top: 3600px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}

.line3 {
    position: absolute;
    width: 40px;
    height: 0px;
    left: 94px;
    top: 3670px;
    border: 3px solid #6AA3FF;
}


.boxInv {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 14%;
  top: 3800px;

  background:white;

}

.pic4 {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 4%;
  top: 3760px;

  background: url(https://i.imgur.com/mZDOSJE.png);
  background-size: 65% 65%;
  background-repeat: no-repeat;
  filter: saturate(10);
  opacity: .5;
}



.formTitle {
  position: absolute;
  width: 320px;
  height: 37px;
  left: 22%;
  top: 3800px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;

  color: #000000;
}

.name {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 20%;
  top: 3845px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 29px;

  color: #000000;
}

.line4 {
    position: absolute;
    width: 200px;
    left: 30%;
    top: 3848px;
    z-index: 1;
}

input {
    top: 3880px;
    font-size: normal;
    border-bottom: 1px solid #4BBEFF;
    color: #787575; 
    width: 100%;
    outline: none;
}

.email {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 20%;
  top: 3870px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 29px;

  color: #000000;
}

.line5 {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 30%;
    top: 3871px;
    z-index: 1;
}

.message {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 16%;
  top: 3895px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 29px;

  color: #000000;
}

.box {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 30%;
  top: 3905px;

  background: #FFFFFF;
  box-sizing: border-box;
}

textarea {
    top: 3905px;
    font-size: 10px;
    height: 50px;
    border: 1px solid #4BBEFF;
    color: #787575;
    width: 100%;
    outline: none;
}

.followLink {
  position: absolute;
  width: 320px;
  height: 37px;
  left: 25%;
  top: 4035px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;

  color: #000000;
}

.line6 {
  position: absolute;
  width: 62px;
  height: 7px;
  left: 40%;
  top: 4075px;

  background: #FFDF6E;
}

.icon1 {
  position: absolute;
  width: 40px;
  height: 41px;
  left: 30%;
  top: 4100px;
  background: url(https://i.imgur.com/rPcRXtL.png);
  background-size: 120% 80%;
  background-repeat: no-repeat;
}

.icon2 {
  position: absolute;
  width: 40px;
  height: 41px;
  left: 43.9%;
  top: 4100px;
  background: url(https://i.imgur.com/arjqUVb.png);
  background-size: 80% 90%;
  background-repeat: no-repeat;
}

.icon3 {
  position: absolute;
  width: 50px;
  height: 43px;
  left: 55%;
  top: 4100px;
  background: url(https://i.imgur.com/D4E8p90.png);
  background-size: 100% 75%;
  background-repeat: no-repeat;
}

.submit {
  position: absolute;
  width: 73px;
  height: 35px;
  left: 45%;
  top: 3950px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 29px;
  cursor: pointer;
  color: #424242;;
  z-index: 1;
}

.submitBotton {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 43.8%;
  top: 3956px;
  cursor: pointer;
  background: linear-gradient(150.88deg, #B8B7AE 7.54%, rgba(255, 255, 255, 0) 147.52%);
}
}




@media (max-width: 410px) {
     label #btn {
    display: block;
    position: absolute;
  } 

    body {
  position: absolute;
  width: 604px;
  height: 10000px;
  background: #FFFFFF;
  }
ul {
    position: fixed;
    width: 604px;
    height: 100vh;
    background: #424242;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    color: white;

  }
  nav ul li a {
    font-size: 20px;
    color: white;
  }
  nav ul li a:hover {
  Text-Decoration: None !important; 
  color: white;
}
nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

#check:checked ~ ul {
  left: 0;
  	}

#check:checked ~ label #btn {
  display: none;
}

#check:checked ~ label #cancel {
  display: block;
  position: absolute;

}
}

@media (max-width: 450px) {
     label #btn {
    display: block;
    position: absolute;
  } 

    body {
  position: absolute;
  width: 440px;
  height: 10000px;
  background: #FFFFFF;
  }

ul {
    position: fixed;
    width: 440px;
    height: 100vh;
    background: #424242;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    color: white;

  }
  nav ul li a {
    font-size: 20px;
    color: white;
  }
  nav ul li a:hover {
  Text-Decoration: None !important; 
  color: white;
}
nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

#check:checked ~ ul {
  left: 0;
  	}

#check:checked ~ label #btn {
  display: none;
}

#check:checked ~ label #cancel {
  display: block;
  position: absolute;

}
}
